In [1]:
import  pandas as pd
df=pd.read_csv("Diabetes_data.csv")
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,NaN,80.0,0,1,never,25.19,6.6,140,0
1,NaN,54.0,0,0,No Info,27.32,6.6,80,0
2,NaN,28.0,0,0,never,27.32,5.7,158,0
3,NaN,36.0,0,0,current,23.45,5.0,155,0
4,NaN,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,NaN,80.0,0,0,No Info,27.32,6.2,90,0
99996,NaN,2.0,0,0,No Info,17.37,6.5,100,0
99997,NaN,66.0,0,0,former,27.83,5.7,155,0
99998,NaN,24.0,0,0,never,35.42,4.0,100,0
99999,NaN,57.0,0,0,current,22.43,6.6,90,0

In [4]:
from sklearn.preprocessing import LabelEncoder
 
# Creating a instance of label Encoder.
le = LabelEncoder()
 
# Using .fit_transform function to fit label
# encoder and return encoded label
label = le.fit_transform(df['gender'])
 
# printing label
label

# removing the column 'Purchased' from df
# as it is of no use now.
df.drop("gender", axis=1, inplace=True)

# Appending the array to our dataFrame
# with column name 'Purchased'
df["gender"] = label

# printing Dataframe
df

,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,gender
0,80.0,0,1,never,25.19,6.6,140,0,0
1,54.0,0,0,No Info,27.32,6.6,80,0,0
2,28.0,0,0,never,27.32,5.7,158,0,0
3,36.0,0,0,current,23.45,5.0,155,0,0
4,76.0,1,1,current,20.14,4.8,155,0,0
...,...,...,...,...,...,...,...,...,...
99995,80.0,0,0,No Info,27.32,6.2,90,0,0
99996,2.0,0,0,No Info,17.37,6.5,100,0,0
99997,66.0,0,0,former,27.83,5.7,155,0,0
99998,24.0,0,0,never,35.42,4.0,100,0,0
99999,57.0,0,0,current,22.43,6.6,90,0,0